@page "/singlechord"

<PageTitle>Single Chords</PageTitle>

@using ScaleSourceWeb.Data
@using ChordCanvas
@using Blazor.Extensions; 
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@inject ChordFinderService ChordService

<h1>Single Chords</h1>

@switch (mChordEntryStage)
{
    case ChordEntryStage.Note:
    {
        <SfButtonGroup CssClass="e-round-corner">
            @if (mEntryButtons is not null)
            {
                @foreach (var noteButton in mEntryButtons)
                {
                    <ButtonGroupButton @bind=@noteButton.Button IsToggle="true"
                    @onclick="() => ToggleButton(noteButton)">@noteButton.Name</ButtonGroupButton>
                }
            }
        </SfButtonGroup>
        <SfButton CssClass="e-round-corner" @onclick="NextButton">Next</SfButton>
    }
    break;

    case ChordEntryStage.Accidental:
    {
        <SfButton CssClass="e-round-corner" @onclick="BackButton">Back</SfButton>
        <SfButtonGroup CssClass="e-round-corner">
            @if (mEntryButtons is not null)
            {
                @foreach (var accidentalButton in mEntryButtons)
                {
                    <ButtonGroupButton @bind=@accidentalButton.Button IsToggle="true" 
                    @onclick="() => ToggleButton(accidentalButton)">@accidentalButton.Name</ButtonGroupButton>
                }
            }
        </SfButtonGroup>
        <SfButton CssClass="e-round-corner" @onclick="NextButton">Next</SfButton>
    }
    break;

    case ChordEntryStage.Scale:
    {
        <SfButton CssClass="e-round-corner" @onclick="BackButton">Back</SfButton>
        <SfButtonGroup CssClass="e-round-corner">
            @if (mEntryButtons is not null)
            {
                @foreach (var scaleButton in mEntryButtons)
                {
                    <ButtonGroupButton @bind=@scaleButton.Button IsToggle="true" 
                    @onclick="() => ToggleButton(scaleButton)">@scaleButton.Name</ButtonGroupButton>
                }
            }
        </SfButtonGroup>
        <SfButton CssClass="e-round-corner" @onclick="GoButton">Go</SfButton>
    }
    break;

    case ChordEntryStage.Display:
    {
        <SfButton CssClass="e-round-corner" @onclick="HomeButton">Start</SfButton>
        <br>
        @if (mCurrentChord is null && mRequestFailed)
        {
            <p><em>Request failed. Check that your entered chord was valid.</em></p>
        }
        else if (mCurrentChord is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        { 
            <img @ref="mFretboardImg" src="images/frets.svg" style="display: none;"/>
            <BECanvas @ref="mCanvasReference" Width="600" Height="400"></BECanvas>
        }
    }
    break;
}

@code {
    private ChordEntryStage mChordEntryStage = ChordEntryStage.Note;

    private EntryButton[]? mEntryButtons = Enumerable.Range(0, 7).Select(i => new EntryButton(i, ChordEntryStage.Note)).ToArray();

    private string mNoteEntered = "C";
    private string mAccidentalEntered = "";
    private string mScaleEntered = "";

    private string mRequestChord = "";

    private Chord? mCurrentChord = null;
    private bool mRequestFailed = false;

    private Canvas2DContext? mContext;
    protected BECanvasComponent? mCanvasReference;
    private ElementReference mFretboardImg;

    private void ToggleButton(EntryButton buttonPressed)
    {
        switch (buttonPressed.Stage)
        {
            case ChordEntryStage.Note:
                this.mNoteEntered = buttonPressed.APIName;
                break;

            case ChordEntryStage.Accidental:
                this.mAccidentalEntered = buttonPressed.APIName;
                break; 

            case ChordEntryStage.Scale:
                this.mScaleEntered = buttonPressed.APIName;
                break;
        }
    }

    private void BackButton()
    {
        switch (this.mChordEntryStage)
        {
            case ChordEntryStage.Accidental:
                {
                    this.mChordEntryStage = ChordEntryStage.Note;
                    this.mEntryButtons = Enumerable.Range(0, 7).Select(i => new EntryButton(i, ChordEntryStage.Note)).ToArray();
                    break;
                }

            case ChordEntryStage.Scale:
                {
                    this.mChordEntryStage = ChordEntryStage.Accidental;
                    this.mEntryButtons = Enumerable.Range(0, 3).Select(i => new EntryButton(i, ChordEntryStage.Accidental)).ToArray();
                    break;
                }

            case ChordEntryStage.Display:
                {
                    this.mChordEntryStage = ChordEntryStage.Scale;
                    this.mEntryButtons = Enumerable.Range(0, 2).Select(i => new EntryButton(i, ChordEntryStage.Scale)).ToArray();
                    break;
                }
        }
    }

    private void NextButton()
    {
        switch (mChordEntryStage)
        {
            case ChordEntryStage.Note:
                {
                    this.mChordEntryStage = ChordEntryStage.Accidental;
                    this.mEntryButtons = Enumerable.Range(0, 3).Select(i => new EntryButton(i, ChordEntryStage.Accidental)).ToArray();
                    break;
                }

            case ChordEntryStage.Accidental:
                {
                    this.mChordEntryStage = ChordEntryStage.Scale;
                    this.mEntryButtons = Enumerable.Range(0, 2).Select(i => new EntryButton(i, ChordEntryStage.Scale)).ToArray();
                    break;
                }
        }
    }

    private async Task HomeButton()
    {
        this.mChordEntryStage = ChordEntryStage.Note;
        this.mEntryButtons = Enumerable.Range(0, 7).Select(i => new EntryButton(i, ChordEntryStage.Note)).ToArray();

        if (this.mContext is null || this.mCanvasReference is null) return;

        await this.mContext.ClearRectAsync(0, 0, this.mCanvasReference.Width, this.mCanvasReference.Height);
    }

    private async Task GoButton()
    {
        this.mRequestChord = this.mNoteEntered + this.mAccidentalEntered;
        if (this.mScaleEntered != string.Empty)
            this.mRequestChord += $"_{this.mScaleEntered}";

        this.mCurrentChord = await ChordFinderService.FindChord(this.mRequestChord);
        this.mRequestFailed = (mCurrentChord is null) ? true : false;

        this.mEntryButtons = null;
        this.mChordEntryStage = ChordEntryStage.Display;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (this.mChordEntryStage != ChordEntryStage.Display) return;
        if (this.mCurrentChord is null) return;

        this.mContext = await this.mCanvasReference.CreateCanvas2DAsync();

        await ChordBoxImage.CreateImage(this.mContext, mCurrentChord, ChordBoxImage.Layout.Two, 8.0);

    }

}